# Rust dependencies and build artifacts
Cargo.lock

# Files and folders created by the library or the dashboard
osint.log
osint.session
osint_media/
telegram_sources.json

target/

# Python cache files
__pycache__/
**/__pycache__/

# Distribution/build folders
dist/